.main-board::-webkit-scrollbar {
  display: none;
}

.main-board {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;

  background: white;
  margin-top: 32px;

  .react-loading-skeleton {
    height: 50px;
  }

  .data-notfound__container {
    display: flex;
    justify-content: center;
    margin-top: 64px;

    img {
      width: 200px;
    }
  }

  .header__main-board {
    display: flex;
    width: 100%;
    background: #ff5f60;
    height: 50px;
    box-sizing: border-box;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    color: white;
    margin-bottom: 16px;
    font-weight: 600;
    // box-shadow: 6px 10px 12px hsla(0, 0%, 47.8%, 0.212);
    .text-header {
      flex: 2;
    }

    .id-text {
      flex: 1;
    }
  }
}
