.card-container {
  display: flex;
  width: 100%;
  background: white;
  height: 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  position: relative;
  border-bottom: 2px solid #e4e1e1;
  text-overflow: ellipsis;

  .icon-delete {
    color: #f15c60;
    position: absolute;
    right: 20px;
    bottom: 16px;
  }

  .qr-code {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .see-more {
    text-decoration: underline;
    color: #f15c60 !important;
    cursor: pointer;
  }

  .text-header {
    flex: 2;
    font-size: 14px;
    color: #757474;
    text-align: left;
  }

  .id-text {
    flex: 1;
  }

  .icon-qr {
    font-size: 14px;
    color: #f15c60;
    position: absolute;
    right: 24px;
  }
}
