.card-container {
  display: flex;
  width: 100%;
  background: white;
  height: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  position: relative;
  box-shadow: 6px 5px 4px hsla(0, 0%, 47.8%, 0.212);
  text-overflow: ellipsis;

  .see-more {
    text-decoration: underline;
    color: #f15c60 !important;
    cursor: pointer;
  }

  .text-header {
    flex: 2;
    font-size: 14px;
    color: #757474;
    text-align: left;
  }

  .id-text {
    flex: 1;
  }

  .icon-qr {
    font-size: 14px;
    color: #f15c60;
    position: absolute;
    right: 24px;
  }
}
