.side-menu {
  background: #332a7c;
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 8px 0 8px 8px;
  border-radius: 12px;
  position: relative;

  .logout-container {
    position: absolute !important;
    bottom: 0;
  }

  .logo {
    color: white;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 16px 0 32px;
    font-weight: 800;
  }

  .menu-container {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-bottom: 12px;
    height: 52px;
    color: white;
    font-weight: 500;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;

    .fluid-active {
      background: white;
      height: 40px;
      width: 80px;
      position: absolute;
      right: 0;
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      box-sizing: border-box;
      .icon-active {
        color: #f15c60;
      }
    }

    .fluid-active:before {
      content: "";
      position: absolute;
      bottom: -40px;
      right: 0;
      height: 40px;
      width: 40px;
      border-top-right-radius: 50%;
      box-shadow: 20px 0px 0 0 white;
    }

    .fluid-active:after {
      content: "";
      position: absolute;
      top: -40px;
      right: 0;
      height: 40px;
      width: 40px;
      border-bottom-right-radius: 50%;
      box-shadow: 0 20px 0 0 white;
    }
  }
}
